In [58]:
empty_dict={}

In [59]:
list_countries=["INDIA","PAKISTAN","ENGLAND"]

In [60]:
print(list_countries)

['INDIA', 'PAKISTAN', 'ENGLAND']

In [61]:
list_capital=["PARIS","BERLIN","DELHI"]

In [62]:
print(list_capital)

['PARIS', 'BERLIN', 'DELHI']

In [63]:
currencies=("INR","USD","EUR")

In [64]:
print(currencies)

('INR', 'USD', 'EUR')

In [65]:
country_name_lengths=set(len(country)for country in list_countries)

In [66]:
print(country_name_lengths)

{8, 5, 7}

In [67]:
empty_dict["listcountries"] = list_countries

In [68]:
empty_dict["listcapital"] = list_capital

In [69]:
empty_dict["Currencies"] = currencies

In [70]:
empty_dict["countrynamelengths"] =country_name_lengths

In [71]:
print(empty_dict)

{'listcountries': ['INDIA', 'PAKISTAN', 'ENGLAND'], 'listcapital': ['PARIS', 'BERLIN', 'DELHI'], 'Currencies': ('INR', 'USD', 'EUR'), 'countrynamelengths': {8, 5, 7}}

In [72]:
############################################TASK 01

In [73]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}

In [74]:
print(sampleDict['class']['student']['marks']['history'])

80

In [75]:
##################TASK02

In [76]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [77]:
print(sample_dict["name"])

Kelly

In [78]:
print(sample_dict["salary"])

8000

In [80]:
print(sample_dict['name'], sample_dict['salary'])

Kelly 8000

In [ ]:
###################TASK3

In [81]:
sample_dict.pop("name")

'Kelly'

In [82]:
sample_dict.pop("salary")

8000

In [83]:
print(sample_dict)

{'age': 25, 'city': 'New york'}